.nested-fields
  .form-inline
    = f.association :item, collection: Item.all, prompt: t('.choose_existing_item'), label: false
    = link_to_add_association t('.create_new_item'), f, :item, class: 'btn btn-sm btn-outline-success ml-2'
    = link_to_remove_association t('.remove_item'), f, class: 'btn btn-sm btn-outline-danger ml-2'
  %hr
